/*--------------------------
       commonly used 
----------------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.btn {
  padding: 10px 24px;
  background-color: #e02c6d;
  text-decoration: none;
  color: #ffffff;
}
.container {
  margin-left: 180px;
  margin-top: 70px;
  margin-right: 210px;
}
/*--------------------------
       Header 
----------------------------*/
header {
  width: 1440px;
  height: 677px;
  background-color: #2d25a0;
}
.intro {
  display: flex;
  justify-content: space-between;
}
.intro-info {
  margin-left: 156px;
  margin-top: 207px;
  margin-bottom: 240px;
}
.heading-title {
  margin-top: 0;
  margin-bottom: 27px;

  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}
.intro img {
  width: 556.01px;
  height: 438px;
  margin: 153px 140.99px 86px 102px;
}
/*--------------------------
       Players
----------------------------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  margin-right: 30px;
  margin-bottom: 27px;
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-profile {
  padding: 15px;
}

.player-img {
  width: 300px;
  height: 256px;
}
.player-name {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player-about {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
}

/*--------------------------
          Footer
----------------------------*/

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-img {
  width: 483.87px;
  height: 110px;
}
.social-link {
  text-decoration: none;
}
.fab {
  padding-right: 14px;
  color: #e02c6d;
}
.copyright {
  font-size: 18px;
}
